body {
	background-color: #3399ff;
}

.logo {
	margin: auto;
}

img {
	padding:20px 200px 20px 550px;
	width: auto;
	height: 35px;
} 

.box {
	background:white;
	margin: auto;
	width: 400px;
	height: 450px;
}

h1 {
	padding-top: 20px;
	font-size: 35px;
	text-align: center;
}

.sign-up {
	padding-left: 40px;
	padding-right: 40px;
	width: 320px;
	font-size: 20px
}

.sign-up input {
	width: 320px;
	border:2px solid silver;
	height: 55px;
	font-size: 20px;
	margin: 20px auto;
	padding-left: 15px;
}

.log-in {
	color: white;
	text-align: center;
}

.sign-up button {
	width: 320px;
	height: 55px;
	font-size: 20px;
	background-color: #00b33c;
	color: white;
	border:2px solid silver;
}


a:link {
	color: white;
}